#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(../assets/lavender-town.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Pixelify Sans', sans-serif;
}

h2 {
  margin: 0;
  letter-spacing: 0.05rem;
}

.icon {
  display: inline;
  width: 2rem;
}

.play-pause {
  width: fit-content;
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}

.fixed-top-right {
    /* Step 1: Fix the position relative to the viewport */
    position: fixed;

    /* Step 2: Position it at the top */
    top: 20px; /* Adjust as needed for desired spacing */

    /* Step 3: Position it to the right */
    right: 20px; /* Adjust as needed for desired spacing */

    /* Optional: Add a high z-index to ensure it stays above other content */
    z-index: 1000;

    /* Optional: Add styling to make it look like a button */
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.instructions {
  font-size: 1.2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
  margin: 1rem 2rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #55588f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
}

.card:hover {
  transform: translateY(-10px) scale(1.2);
}

.card-image {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}