#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* This simulates the fixed background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-image: url('../assets/lavender-town.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Keep it behind your content */
  will-change: transform; /* Hint for browser performance */
}

h2 {
  margin: 0;
  letter-spacing: 0.05rem;
}

.icon {
  display: inline;
  width: 2rem;
}

.play-pause {
  width: fit-content;
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}

.fixed-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.instructions {
  font-size: 1.2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
  margin: 1rem 2rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #55588f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
}

.card:hover {
  transform: translateY(-10px) scale(1.2);
}

.card-image {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
