#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.card {
  margin: 0 2rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
}

.read-the-docs {
  color: #888;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 2rem;
}